header{
    height: 100px;
    border: 2px dashed green;
    width: 100%;
}

.col-4{
    height: 550px;
    border:2px dashed darkred;
}

.card{
    height: 100%;
    width: 100%;
    border: 2px solid red;
}